body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #2E2F42;
    letter-spacing: 0.04em;
}

#name-input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;
}

#name-input:focus {
    border: 1px solid #000;
}

#name-input::placeholder {
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 0.64px;
}

h1 {
    font-size: 24px;
    margin-top: 16px;
}