body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #2E2F42;
    letter-spacing: 0.04em;
}

h2 {
  margin: 0;
  margin-bottom: 16px;
}

ul {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #f6f6fe;
  width: 392px; 
  padding: 16px;
  border: none;
}

li {
  width: 100%; 
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
}

#categories {
  display: flex;
  gap: 24px;
}